* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html {
  background: url("./background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 62.5%;
  font-family: Helvetica, sans-serif, "Times New Roman";
  color: white;
  margin-top: 4.4rem;
}
body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
}
p {
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}
button {
  cursor: pointer;
  border: 0.2rem solid rgb(162, 236, 236);
  border-radius: 0.8rem;
  background-color: rgb(221, 252, 252);
}
div.buttonsModes {
  display: flex;
  justify-content: space-evenly;
}
button.modes {
  width: 10rem;
  height: 5rem;
  margin-bottom: 6rem;
  font-size: 1.8rem;
}
button.modes:hover {
  background-color: rgb(162, 236, 236);
}
div.play {
  display: flex;
  justify-content: space-around;
}
div.ChooseOne {
  padding-top: 2rem;
  width: 50rem;
  height: 30rem;
  background: rgba(255, 255, 255, 0.205);
  border-radius: 4rem;
}
div.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.thing {
  margin: 0.8rem;
  width: 12rem;
  height: 12rem;
  border: 0.1rem solid white;
  border-radius: 2rem;
}
button.thing#piedra {
  background: url(rock.png) center;
  background-size: 100% 100%;
  background-color: rgb(253, 213, 184);
}
button.thing#piedra:hover {
  cursor: pointer;
  background-color: rgba(253, 246, 243, 0.925);
}
button.thing#papel {
  background: url(paper.png) center;
  background-size: 100% 100%;
  background-color: rgb(253, 213, 184);
}
button.thing#papel:hover {
  cursor: pointer;
  background-color: rgba(253, 246, 243, 0.925);
}
button.thing#tijera {
  background: url(scissors.png) center;
  background-size: 100% 100%;
  background-color: rgb(253, 213, 184);
}
button.thing#tijera:hover {
  cursor: pointer;
  background-color: rgba(253, 246, 243, 0.925);
}
P#comment {
  margin-top: 0.8rem;
  font-size: 1.8rem;
  text-align: center;
}
p#result {
  margin-top: 0.8rem;
}
div.counting {
  padding-top: 2rem;
  width: 50rem;
  height: 30rem;
  background: rgba(255, 255, 255, 0.205);
  border-radius: 4rem;
}
div.countingContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.countingPC {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  height: 15rem;
  width: 15rem;
  background-color: rgba(119, 161, 240, 0.219);
}
div.countingPC #countingPCid {
  padding-left: 1rem;
}
div.countingPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  height: 15rem;
  width: 15rem;
  background-color: rgba(141, 236, 101, 0.281);
}
div.countingPlayer #countingPlayerid {
  padding-left: 1rem;
}
div.buttonReset {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
button#reset {
  border-style: solid;
  border-color: rgb(162, 236, 236);
  background-color: rgb(221, 252, 252);
  border-radius: 1rem;
  width: 10rem;
  height: 5rem;
  margin-bottom: 4rem;
}
button#reset:hover {
  cursor: pointer;
  color: red;
  background-color: rgb(162, 236, 236);
}

@media (max-width: 824px) {
  div.play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  div.ChooseOne {
    margin-bottom: 4rem;
  }
}
@media (max-width: 460px) {
  div.play {
    display: flex;
    justify-content: center;
  }
  div.ChooseOne {
    width: 100%;
  }
  div.counting {
    width: 100%;
  }
}
